:root {
--baseGreen:#75bab3; 
--highlightGreen: #41b3a3;
--white: #e0eae4;
--subBackground: #825768; 
--subBackgroundLight: #FBD69D;
}

body {
background-color: var(--baseGreen);
font-family:'Courier New', Courier, monospace,Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.625rem;
  color: var(--heliotrope);
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
}

h1{
    font-size: 2rem;
    margin: 5px 0 5px 10px;
    color: var(--white);
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header section {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: 0 auto;
    background: var(--subBackground);
    height: 400px;
    flex: 1 0 100%;
}

.section_nav {
    background-color: #FBD69D;
}

.header_img {
    max-width: 300px;
    border-radius: 40%;
    border: 6px solid var(--highlightGreen);
}

header h1 span {
    font-style: italic;
    font-weight: bolder;
    color: var(--white);
    text-decoration: underline;
    text-transform: capitalize;
}

header nav {
    font-size: 4rem;
}

.nav_ul li a {
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: var(--subBackground);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.nav_ul li:nth-of-type(even) {
    padding-left: 4rem;
    margin: 0.5rem 0 0.5rem 0;
}

.nav_ul li a:hover {
    border-left: 5px solid var(--baseGreen);
    background: var(--subBackground);
    border-radius: 20px;
    color: var(--subBackgroundLight);
}
 
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main section {
    flex: 1 0 100%;
    height: 400px ;
}

main section:nth-of-type(3),
main section:nth-of-type(4) {
    flex: 1 0 100%;
}

.my_work{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
} 

.my_work section:nth-of-type(1) {
    flex-basis: 50%;
}
.my_work section:nth-of-type(2) {
    flex-basis: 25%;
}
.my_work section:nth-of-type(3) {
    flex-basis: 25%;
}

@media screen and (min-width: 768px) {
    header section  {
      flex-basis: 50%;
    }
    main section {
        flex-basis: 50%;
    }
}

@media screen and (max-width: 768px) {
    .my_work section {
         flex-basis: 100%;
     }
    .my_work section:nth-of-type(1) {
        flex-basis: 100%;
    }
    /* .my_work section:nth-of-type(2) {
        flex-basis: 100%; */
    }
    

