:root {
--base:#E7EEED; 
--highlightGreen: #A0D098;
--subBackground: #1544C0;
--subBackgroundLight: #FBD69D;

}

body {
background-color: var(--base);
font-family: "Ginger regular, Courier, monospace,Arial, sans-serif";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.625rem;
  color: var(--heliotrope);
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
}

h1{
    font-size: 40px;
    margin: 5px 0 5px 10px;
    color: var(--base);
    font-family: "Ginger Bold";
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header section {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: 0 auto;
    background: var(--subBackground);
    height: 600px;
    flex: 1 0 100%;
}

.section_nav {
    background-color: #e0e578;
    background-image: url(../images/nav.JPG);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: 500px 100px
}

.header_img {
    max-width: 300px;
    border-radius: 40%;
    border: 4px solid var(--base);
}

.nav_ul li:nth-of-type(even) {
    margin: 20px 0 20px 0;
    padding-left: 40px;
}

.nav_ul li a {
    text-decoration: none;
    color: var(--subBackground);
    padding-left: 10px;
    font-size: 40px;
    font-weight: bold;
    font-family: "Ginger Bold";
}

.nav_ul li a:hover {
    border-left: 4px solid var(--base);
    border-radius: 20px;
}

main {
    display: block;
    /* flex-direction: column;  */
    flex-wrap: wrap;
}

main section {
    flex: 1 0 100%;
    height: 800px;
}

main h1 {
    color: var(--subBackground);
    margin-top: 400px;
}

main section:nth-of-type(3),
main section:nth-of-type(4) {
    flex: 1 0 100%;
}

.my_work{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
} 

.my_work section img {
    width: 100%;
    height: 100%;
}

.my_work section:nth-of-type(1) {
    flex-basis: 50%;
}

.my_work section:nth-of-type(2) {
    flex-basis: 25%;
    background-color: #d9ebf1;
    background-image: url(../images/under_constucation.JPG);
    background-size: 300px;
    background-repeat:no-repeat;
    background-position: center;
}

.my_work section:nth-of-type(3) {
    flex-basis: 25%;
    background-color: #c7eaf2;
}


@media screen and (min-width: 768px) {
    header section  {
      flex-basis: 50%;
    }
    main section {
        flex-basis: 50%;
    }
}

@media screen and (max-width: 768px) {
    .my_work section {
         flex-basis: 100%;
     }
    .my_work section:nth-of-type(1) {
        flex-basis: 100%;
    }
    .section_nav {
        background-size: 200px;
        background-position: 210px 150px
    /* .my_work section:nth-of-type(2) {
        flex-basis: 100%; */
    }


